{% extends 'base.html' %} {% block conteudo %}
<div>
    <h1>{{aluno.id}} - {{aluno.nome}}</h1>
    {% if aluno.foto %}
    <p>
        <img
            src="{{aluno.foto.url}}"
            alt="{{aluno.nome}}"
            style="height: auto; max-width: 250px"
        />
    </p>
    {% endif %}
    <h6>Email: {{aluno.email}}</h6>
    <h6>Telefone: {{aluno.telefone}}</h6>
    <h6>Data de Nascimento: {{aluno.data_nascimento}}</h6>
    <h6>Data de Matricula: {{aluno.data_criacao|date:'d/m/Y' }}</h6>
    <h6>
        Data de Vencimento da Matricula:
        {{aluno.data_vencimento_matricula|date:'d/m/Y'}}
    </h6>
    <form action="{% url 'add_tempo' aluno.id %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">
            Adicione 1 Mês a Matricula
        </button>
    </form>
</div>
{% endblock conteudo %}
